
@{
    ViewData["Title"] = "Index";
}

<!-- End Header are -->
<!-- Start Slider section -->
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/assets/Img/slider_1.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="~/assets/Img/slider_2.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="~/assets/Img/slider_3.jpg" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<!-- End Slider section -->
<!-- Start Work section -->

<div class="work">
    <p id="title">work</p>
    <p id="desc">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus placerat enim et urna
        sagittis, rhoncus euismod erat tincidunt. Donec tincidunt volutpat erat.
    </p>

</div>



<!-- End Work section -->
<!-- Start News section -->
<div class="news-testimonials">
    <div class="news col-6">
        <a href="#">
            <h2>News</h2>
            <hr>
            <ul>
                <li>
                    <span>September 10, 2016</span>
                    <h3>Manila Bridge Re-construction</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus placerat enim et urna
                        sagittis, rhoncus euismod...
                    </p>
                </li>
                <hr>
                <li>
                    <span>September 10, 2016</span>
                    <h3>Manila Bridge Re-construction</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus placerat enim et urna
                        sagittis, rhoncus euismod...
                    </p>
                </li>
                <hr>
                <li>
                    <span>September 10, 2016</span>
                    <h3>Manila Bridge Re-construction</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus placerat enim et urna
                        sagittis, rhoncus euismod...
                    </p>
                </li>
            </ul>
            <button class="btn">
                More news
            </button>
        </a>
    </div>
    <div class="testimonials">
        <h2>testimonials</h2>
        <hr>
        <p>
            “Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus placerat enim et urna sagittis,
            rhoncus euismod erat tincidunt. Donec tincidunt volutpat erat.“
        </p>
        <p class="author">— John Doe Dueller</p>
        <hr>
        <p>
            “Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus placerat enim et urna sagittis,
            rhoncus euismod erat tincidunt. Donec tincidunt volutpat erat.“
        </p>
        <p class="author">— John Doe Dueller</p>
    </div>
</div>
<hr>
<!-- End News section -->
<div class="architectevents">
    <div class="architect">
        <div class="iconstitle">
            <i class="fa-regular fa-file-zipper"></i>
            <h3>architect</h3>
        </div>
        <p>Lorem ipsum dolor sit ameteista, consectetur adipiscing is not elitistaris.</p>
    </div>
    <div class="planning">
        <div class="iconstitle">
            <i class="fa-regular fa-file-zipper"></i>
            <h3>Planning</h3>
        </div>
        <p>Lorem ipsum dolor sit ameteista, consectetur adipiscing is not elitistaris.</p>
    </div>
    <div class="parks">
        <div class="iconstitle">
            <i class="fa-regular fa-file-zipper"></i>
            <h3>Parks&events</h3>
        </div>
        <p>Lorem ipsum dolor sit ameteista, consectetur adipiscing is not elitistaris.</p>
    </div>
</div>
<hr>

